<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col
      :md="gdprConfigured ? '6' : '4'"
      v-if="
        applicationStore.session.miniSession !== true &&
        util.CONFIG.QUICK_START_GUIDE_URL &&
        util.CONFIG.QUICK_START_GUIDE_URL.length > 0
      "
    >
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="lime">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-information-outline</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">Digitale Kollaborationsplattform</v-card-title>
                <v-card-text class="pa-0">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        fab
                        absolute
                        top
                        right
                        color="lime"
                        v-on="on"
                        :href="util.CONFIG.QUICK_START_GUIDE_URL"
                        target="_blank"
                      >
                        <v-icon dark>mdi-open-in-new</v-icon>
                      </v-btn>
                    </template>
                    <span>Quickstart-Guide</span>
                  </v-tooltip>
                  Hilfe für den Einstieg in die DKP?
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col md="6" v-if="gdprConfigured">
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col
              md="auto"
              :class="
                gdprLoading ? 'blue-grey lighten-2' : gdprAcceptanceDate ? 'success' : 'error'
              "
            >
              <v-avatar tile size="70">
                <v-icon x-large dark>
                  {{
                    gdprLoading
                      ? 'mdi-help-circle-outline'
                      : gdprAcceptanceDate
                      ? 'mdi-shield-check'
                      : 'mdi-shield-alert'
                  }}
                </v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">Zustimmung zum Datenschutz</v-card-title>
                <v-card-text class="pa-0" v-if="!gdprLoading">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        fab
                        absolute
                        top
                        right
                        :color="gdprAcceptanceDate ? 'success' : 'error'"
                        v-on="on"
                        to="/gdpr"
                      >
                        <v-icon dark>mdi-open-in-new</v-icon>
                      </v-btn>
                    </template>
                    <span>Datenschutzbestimmungen</span>
                  </v-tooltip>

                  Die Zustimmung zu den aktuellen Datenschutzbestimmungen wurde
                  <template v-if="gdprAcceptanceDate">
                    am
                    <b>{{ new Date(Date.parse(gdprAcceptanceDate)).toLocaleString() }}</b>
                  </template>

                  <template v-else>
                    <b>NICHT</b>
                  </template>

                  erteilt
                </v-card-text>
                <v-progress-circular v-else indeterminate></v-progress-circular>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col
      md="4"
      v-if="
        this.applicationStore.config.bindings.multiservice.plugin.supportMembershipDB
      "
    >
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col
              md="auto"
              :class="
                membershipVerificationLoading
                  ? 'blue-grey lighten-2'
                  : membershipVerification == 'ok'
                  ? 'success'
                  : 'error'
              "
            >
              <v-avatar tile size="70">
                <v-icon x-large dark>
                  {{
                    membershipVerificationLoading
                      ? 'mdi-help-circle-outline'
                      : membershipVerification == 'ok'
                      ? 'mdi-shield-check'
                      : 'mdi-shield-alert'
                  }}
                </v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">Fördermitgliedschaft</v-card-title>
                <v-card-text class="pa-0" v-if="!membershipVerificationLoading">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        fab
                        absolute
                        top
                        right
                        :color="membershipVerification == 'ok' ? 'success' : 'error'"
                        v-on="on"
                        to="/membership"
                      >
                        <v-icon dark>mdi-open-in-new</v-icon>
                      </v-btn>
                    </template>
                    <span>Verifikation</span>
                  </v-tooltip>
                  <span v-if="membershipVerification == 'ok'">Kein Handlungsbedarf</span>
                  <span v-else>Bitte überprüfen!</span>
                </v-card-text>
                <v-progress-circular v-else indeterminate></v-progress-circular>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col
      md="4"
      v-if="
        applicationStore.config.bindings.nextcloud.enabled &&
        applicationStore.session.miniSession !== true
      "
    >
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="deep-purple">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-cloud-outline</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">Dateiablage</v-card-title>
                <v-card-text class="pa-0" v-if="!nextcloudLoading">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        fab
                        absolute
                        top
                        right
                        color="deep-purple"
                        v-on="on"
                        :href="applicationStore.config.bindings.nextcloud.publicUrl"
                        target="_blank"
                      >
                        <v-icon dark>mdi-open-in-new</v-icon>
                      </v-btn>
                    </template>
                    <span>Nextcloud</span>
                  </v-tooltip>
                  <div v-if="quotaUsed == -1">Nextcloud-Account unvollständig</div>
                  <div v-else-if="quotaLimit > 0">
                    {{ quotaUsed.toFixed(2) }} GB von {{ quotaLimit.toFixed(2) }} GB belegt ({{
                      ((quotaUsed / quotaLimit) * 100).toFixed(2)
                    }}%)
                    <v-progress-linear
                      height="8"
                      :value="(quotaUsed / quotaLimit) * 100"
                      class="mt-2"
                      color="deep-purple accent-4"
                    ></v-progress-linear>
                  </div>
                  <div v-else>{{ quotaUsed.toFixed(2) }} GB belegt</div>
                </v-card-text>
                <v-progress-circular v-else indeterminate></v-progress-circular>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col
      md="4"
      v-if="
        applicationStore.config.bindings.openproject.enabled &&
        applicationStore.session.miniSession !== true
      "
    >
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="blue">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-checkbox-marked-outline</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">Arbeitspakete</v-card-title>
                <v-card-text class="pa-0" v-if="!openProjectLoading">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        fab
                        absolute
                        top
                        right
                        color="blue"
                        v-on="on"
                        :href="applicationStore.config.bindings.openproject.publicUrl"
                        target="_blank"
                      >
                        <v-icon dark>mdi-open-in-new</v-icon>
                      </v-btn>
                    </template>
                    <span>OpenProject</span>
                  </v-tooltip>
                  <div v-if="packagesOpen == -1">OpenProject-Account unvollständig</div>
                  <div v-else>{{ packagesOpen }} offen / {{ packagesClosed }} erledigt</div>
                </v-card-text>
                <v-progress-circular v-else indeterminate></v-progress-circular>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col md="4" v-if="applicationStore.session.miniSession !== true">
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="brown lighten-2">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-account-multiple</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">Gruppenmitgliedschaften</v-card-title>
                <v-card-text class="pa-0" v-if="!groupsLoading">
                  <v-tooltip
                    bottom
                    v-for="group in getSortedGroupsById(groupMemberships)"
                    :key="group.id"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-chip
                        class="ma-1"
                        v-bind="attrs"
                        v-on="on"
                        :outlined="applicationStore.session.user.groups.includes(group.id)"
                        x-small
                      >
                        {{ group.name }}
                      </v-chip>
                    </template>
                    <span>{{ group.description }}</span>
                  </v-tooltip>
                </v-card-text>
                <v-progress-circular v-else indeterminate></v-progress-circular>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col :md="applicationStore.session.miniSession !== true ? '4' : '6'">
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="success">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-calendar-check-outline</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">{{
                  applicationStore.session.user.username
                }}</v-card-title>
                <v-card-text class="pa-0">
                  Nutzer:in seit
                  {{
                    new Date(
                      Date.parse(applicationStore.session.user.registeredSince)
                    ).toLocaleString()
                  }}
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Api from '../LegacyApi';
import Util from '../LegacyUtil';
import * as util from '../util';
import * as api from '../api';
import { useApplicationStore } from '../stores/application';

export default {
  beforeUnmount() {
    this.$emit('clearError');
  },
  computed: {
    groupMemberships: function () {
      if (!this.groupsLoading) {
        // including implicit membership
        return Util.getImplicitGroupmembershipsForUser(
          this.applicationStore.session.user,
          this.groups
        );
      } else {
        return this.applicationStore.session.user.groups;
      }
    },
    groupMembershipsCount: function () {
      return this.groupMemberships().length;
    },
    ownedGroups: function () {
      if (!this.groupsLoading) {
        // including implicit ownership
        return Util.getImplicitlyOwnedGroups(this.applicationStore.session.user, this.groups);
      } else {
        return this.applicationStore.session.user.ownedGroups;
      }
    },
    ownedGroupCount: function () {
      return this.ownedGroups().length;
    },
  },
  methods: {
    byteInGigaByte: (bytes) => bytes / 1024 / 1024 / 1024,
    getSortedGroupsById: function (ids) {
      return Util.getSortedGroupsById(ids, this.groups);
    },
  },
  mounted() {
    if (this.applicationStore.session.miniSession !== true) {
      Api.defaultHandler(
        this,
        Api.getAllGroups().then((result) => {
          this.groups = result;
          this.groupsLoading = false;
          if (this._computedWatchers.items) this._computedWatchers.items.run();
        })
      );

      if (this.applicationStore.config.bindings.nextcloud.enabled) {
        Api.getNextcloudQuota(this.applicationStore.session.user.id)
          .then((result) => {
            this.quotaUsed = this.byteInGigaByte(result.used);
            this.quotaLimit = result.quota > 0 ? this.byteInGigaByte(result.quota) : 0;
            this.nextcloudLoading = false;
          })
          .catch((reason) => {
            switch (reason) {
              case 'error.userNotFound': {
                this.quotaUsed = -1;
                this.quotaLimit = 0;
                this.nextcloudLoading = false;
                break;
              }
              case 'error.network': {
                this.$emit('networkError');
                break;
              }
              case 'error.unexpected': {
                this.$emit('unexpectedError');
                break;
              }
              case 'error.unauthorized': {
                this.$router.push('/logout').catch((error) => {
                  console.log(error);
                });
                break;
              }
              default: {
                console.log(reason);
              }
            }
          });
      }
      if (this.applicationStore.config.bindings.openproject.enabled) {
        Api.getWorkPackageStats(this.applicationStore.session.user.id)
          .then((result) => {
            this.packagesOpen = 0;
            this.packagesClosed = 0;
            for (const [key, value] of Object.entries(result.workPackageStats)) {
              if (key === 'Closed') {
                this.packagesClosed += value;
              } else {
                this.packagesOpen += value;
              }
            }
            this.openProjectLoading = false;
          })
          .catch((reason) => {
            switch (reason) {
              case 'error.userNotFound': {
                this.packagesOpen = -1;
                this.packagesClosed = 0;
                this.openProjectLoading = false;
                break;
              }
              case 'error.network': {
                this.$emit('networkError');
                break;
              }
              case 'error.unexpected': {
                this.$emit('unexpectedError');
                break;
              }
              case 'error.unauthorized': {
                this.$router.push('/logout').catch((error) => {
                  console.log(error);
                });
                break;
              }
              default: {
                console.log(reason);
              }
            }
          });
      }
    }

    if (this.applicationStore.config.bindings.multiservice.plugin.supportMembershipDB) {
        const getSupportMembershipVerificationStatusResponse = api.iog.getSupportMembershipVerificationStatus().then((it) => {
          if (
            it.data == 'INTERESTED_SM_UPGRADE_CAN_BE_OFFERED' ||
            it.data == 'NO_SUPPORT_MEMBERSHIP_REQUIRED' ||
            it.data == 'INTERESTED_TRIAL_REQUEST_AND_SM_UPGRADE_ALLOWED' ||
            it.data == 'INTERESTED_SM_UPGRADE_ALLOWED' ||
            it.data == 'INTERESTED_TRIAL_PENDING' ||
            it.data == 'REGISTERED_TRIAL_MEMBER' ||
            it.data == 'REGISTERED_SUPPORT_MEMBER'
            ) {
              this.membershipVerification = 'ok';
            } else {
              this.membershipVerification = 'actionNecessary'
            };
        });

        api.allCatching([getSupportMembershipVerificationStatusResponse]).then(() => {
          this.membershipVerificationLoading = false;
        })
      }

    Api.defaultHandler(
      this,
      Api.getGdpr('latest').then((gdpr) => {
        if (gdpr !== undefined) {
          this.gdprConfigured = true;
          Api.getGdprAcceptanceStatus('latest').then((result) => {
            this.gdprAcceptanceDate = result;
            this.gdprLoading = false;
          });
        }
      })
    );
  },
  data: () => {
    return {
      groups: [],
      groupsLoading: true,
      nextcloudLoading: true,
      quotaUsed: 0,
      quotaLimit: 0,
      openProjectLoading: true,
      packagesOpen: 0,
      packagesClosed: 0,
      gdprAcceptanceDate: undefined,
      gdprLoading: true,
      gdprConfigured: false,
      membershipVerificationLoading: true,
      membershipVerification: undefined,
      applicationStore: useApplicationStore(),
      util,
    };
  },
};
</script>

<style scoped></style>
