<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->
<script setup lang="ts">
import { ref } from 'vue';
import * as api from '../api';
import * as util from '../util';

const loading = ref(false);
const success = ref(false);
const mail = ref('');

function doForgot() {
  loading.value = true;
  const forgotRequest = api.forgot.initPasswordReset(mail.value);

  forgotRequest.then(() => (success.value = true));
  api.allCatching([forgotRequest]).finally(() => (loading.value = false));
}
</script>

<template>
  <v-form ref="form" v-on:submit.prevent="doForgot">
    <v-card-text>
      <v-alert type="success" v-if="success" prominent>
        Solltest du mit der angegebenen E-Mail Adresse registriert sein, hast du nun einen Link zum
        Zurücksetzen deines Passworts zugeschickt bekommen.
      </v-alert>
      <v-text-field
        v-else
        label="E-Mail"
        name="mail"
        type="email"
        prepend-icon="mdi-email"
        v-model="mail"
        :disabled="loading"
        :rules="[util.validateMail]"
      />
    </v-card-text>
    <v-card-actions>
      <router-link v-if="!loading" class="deep-orange--text" to="/login"
        >&lt; Zurück zum Login</router-link
      >
      <v-spacer />
      <v-btn
        type="submit"
        color="orange darken-2"
        class="pa-4 white--text"
        tile
        :loading="loading"
        :disabled="loading"
        v-if="!success"
        >Zurücksetzen
      </v-btn>
    </v-card-actions>
  </v-form>
</template>
