<!--
  -    Copyright [2021] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div>
    <v-row v-if="latest">
      <v-col>
        <v-card>
          <v-container class="fill-height" fluid style="padding: 0">
            <v-row class="fill-height" style="margin: 0">
              <v-col
                md="auto"
                :class="
                  gdprLoading ? 'blue-grey lighten-2' : gdprAcceptanceDate ? 'success' : 'error'
                "
              >
                <v-avatar tile size="70">
                  <v-icon x-large dark>
                    {{
                      gdprLoading
                        ? 'mdi-help-circle-outline'
                        : gdprAcceptanceDate
                        ? 'mdi-shield-check'
                        : 'mdi-shield-alert'
                    }}
                  </v-icon>
                </v-avatar>
              </v-col>
              <v-col class="white">
                <v-card flat>
                  <v-card-title class="pa-0">Zustimmung zum Datenschutz</v-card-title>
                  <v-card-text class="pa-0" v-if="!gdprLoading">
                    Die Zustimmung zu den aktuellen Datenschutzbestimmungen wurde
                    <template v-if="gdprAcceptanceDate">
                      am
                      <b>{{ new Date(Date.parse(gdprAcceptanceDate)).toLocaleString() }}</b>
                    </template>

                    <template v-else>
                      <b>NICHT</b>
                    </template>

                    erteilt

                    <template v-if="!gdprAcceptanceDate">
                      <v-checkbox
                        v-model="gdprAcceptBox"
                        :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
                        :disabled="gdprLoading || doAcceptLoading"
                        required
                      >
                        <template v-slot:label>
                          Ich nehme die untenstehende Datenschutzerklärung zur Kenntnis und
                          bestätige diese zu Akzeptieren. Meine Zustimmung kann ich jederzeit durch
                          das Löschen meines Accounts widerrufen.
                        </template>
                      </v-checkbox>
                    </template>
                  </v-card-text>
                  <v-progress-circular v-else indeterminate></v-progress-circular>
                  <v-card-actions v-if="!gdprLoading">
                    <v-btn
                      color="orange darken-2"
                      class="pa-4 white--text"
                      tile
                      @click="doAcceptGdpr"
                      :loading="doAcceptLoading"
                      :disabled="doAcceptLoading || !gdprAcceptBox"
                      v-if="!gdprAcceptanceDate"
                      >Datenschutzerklärung akzeptieren
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="latest">
      <v-col>
        <v-card>
          <v-card-title>
            Aktuelle Datenschutzbestimmungen (Version {{ latest.id }})
            <v-spacer />
            <v-btn
              class="mx-2"
              fab
              small
              :color="util.CONFIG.MAIN_BAR_COLOR"
              :disabled="gdprLoading"
              :dark="!gdprLoading"
              :to="'/print/gdpr/' + latest.id"
              target="_blank"
              ><v-icon>mdi-printer</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-subtitle
            >Gültig ab {{ new Date(Date.parse(latest.validDate)).toLocaleString() }}. Veröffentlicht
            am {{ new Date(Date.parse(latest.creationDate)).toLocaleString() }}.</v-card-subtitle
          >
          <v-card-text v-if="!gdprLoading"
            ><GdprDocumentView v-if="latest" :content="latest.content"
          /></v-card-text>
          <v-progress-circular v-else indeterminate></v-progress-circular>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else-if="!gdprLoading">
      <v-col>
        <v-card>
          <v-card-title>Aktuelle Datenschutzbestimmungen</v-card-title>
          <v-card-text>Es wurden bisher keine Datenschutzbestimmungen veröffentlicht</v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col>
        <v-card>
          <v-card-title>Aktuelle Datenschutzbestimmungen</v-card-title>
          <v-progress-circular indeterminate></v-progress-circular>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
//import Util from '../Util.js';
import Api from '../LegacyApi';
import * as util from "../util";
import GdprDocumentView from '../components/GdprDocumentView.vue';

export default {
  components: {
    GdprDocumentView,
  },
  mounted() {
    this.initGdpr();
  },
  data: () => {
    return {
      gdprLoading: true,
      gdprAcceptanceDate: undefined,
      gdprAcceptBox: false,
      doAcceptLoading: false,
      latest: undefined,
      util,
    };
  },
  methods: {
    doAcceptGdpr: function () {
      this.doAcceptLoading = true;

      Api.defaultHandler(
        this,
        Api.doAcceptGdpr(this.latest.id).then(() => {
          this.$emit('refreshSession');
          this.initGdpr();
        })
      );
    },
    initGdpr: function () {
      let gdprStatus = Api.defaultHandler(
        this,
        Api.getGdprAcceptanceStatus('latest').then((result) => {
          this.gdprAcceptanceDate = result;
        })
      );

      let latestGdpr = Api.defaultHandler(
        this,
        Api.getGdpr('latest').then((result) => {
          this.latest = result;
        })
      );

      Promise.all([gdprStatus, latestGdpr]).then(() => {
        this.gdprLoading = false;
        this.doAcceptLoading = false;
      });
    },
  },
  beforeUnmount() {
    this.$emit('clearError');
  },
};
</script>

<style scoped></style>
