<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<script setup lang="ts">
import * as api from '../api';
import * as util from "../util"
import { onMounted, reactive } from 'vue';
import { useApplicationStore } from '../stores/application';
import { useRoute, useRouter } from 'vue-router/composables';

const applicationStore = useApplicationStore();
const route = useRoute();
const router = useRouter();
const state = reactive<{
  logoutDone: boolean;
  otherServicesLogout: {
    key: string;
    name: string;
    url: string;
  }[];
}>({
  logoutDone: false,
  otherServicesLogout: [],
});

onMounted(() => {
  if (applicationStore.session) {
    // This is causing vue reloading the logout component,
    // because in the main layout the other router view is then used
    applicationStore.clearSession();
  } else {
    performLogout();
  }
});

function checkLogoutAlreadyDone(key: string) {
  if (route.query.done) {
    return route.query.done.includes(key);
  }
  return false;
}

function provideSideLogoutLink(pluginConfig: any, key: string, name: string) {
  if (!pluginConfig) return;
  if (!pluginConfig.enabled) return;
  if (!pluginConfig.publicUrl || pluginConfig.publicUrl === '') return;
  if (!key || key === '') return;
  if (checkLogoutAlreadyDone(key))
    // someone indicated that the logout from this service is already done
    return;
  state.otherServicesLogout.push({
    key: key,
    name: name,
    url: pluginConfig.publicUrl,
  });
}

async function performLogout() {
  if (applicationStore.config) {
    provideSideLogoutLink(applicationStore.config.bindings.nextcloud, 'nextcloud', 'Nextcloud');
    provideSideLogoutLink(
      applicationStore.config.bindings.openproject,
      'openproject',
      'OpenProject'
    );
  }

  const logoutPromise = api.session.logout().then((data) => {
    if (typeof data === 'object') {
      // Logout redirect, follow it
      if (checkLogoutAlreadyDone('openproject') || checkLogoutAlreadyDone('nextcloud')) {
        // assume the OIDC logout to be done already
        state.logoutDone = true;
      } else {
        const redirectURL = new URL(data.redirectUrl);
        const postLogoutRedirectUri =
          redirectURL.searchParams.get('post_logout_redirect_uri') ?? '';
        console.log(redirectURL);
        console.log(postLogoutRedirectUri);
        redirectURL.searchParams.set(
          'post_logout_redirect_uri',
          postLogoutRedirectUri +
            '/logout?done=' +
            (route.query.done ? route.query.done + ',' : '') +
            'feather'
        );

        window.location.replace(redirectURL);
      }
    } else {
      if (
        checkLogoutAlreadyDone('feather') ||
        checkLogoutAlreadyDone('openproject') ||
        checkLogoutAlreadyDone('nextcloud')
      ) {
        // either the logout in feather was done or we are coming from OP or NC and have never been in Feather => OK
        state.logoutDone = true;
      } else {
        // send user back to login page, because apparently he is not undergoing the logout process as it is intended
        router.push('/login');
      }
    }
  });

  api.allCatching([logoutPromise]);
}
</script>

<template>
  <div class="text-center">
    <div v-if="state.otherServicesLogout.length > 0">
      Beachte, dass noch Sessions für folgende Services bestehen könnten:
    </div>
    <v-list v-if="state.otherServicesLogout.length > 0">
      <v-list-item
        v-for="service in state.otherServicesLogout"
        :key="service.key"
        :color="util.CONFIG.MAIN_BAR_COLOR"
        class="ma-5"
        link
        :href="service.url"
        target="_blank"
      >
        <v-list-item-icon>
          <v-icon>mdi-open-in-new</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          {{ service.name }}
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-progress-circular
      v-if="!state.logoutDone"
      indeterminate
      color="primary"
    ></v-progress-circular>
    <div v-else>
      Feather-Logout erfolgreich!
      <v-btn style="margin-left: 10px" :color="util.CONFIG.MAIN_BAR_COLOR" dark to="/login"
        >Zurück zum Login</v-btn
      >
    </div>
  </div>
</template>
