<script lang="ts" setup>
import * as api from '../../api';
import * as util from "../../util"
import GdprDocumentView from '../../components/GdprDocumentView.vue';
import { onMounted, computed, ref, Ref } from 'vue';
import { GdprDocument } from '../../entities';
import { useRoute } from 'vue-router/composables';

const gdpr: Ref<GdprDocument | undefined> = ref(undefined);
const route = useRoute();
const notFound = ref(false);

const documentId: Ref<number | 'latest'> = computed(() => {
  const routeParam: string = route.params.gdprId ?? 'latest';

  if (routeParam == 'latest') {
    return 'latest';
  } else {
    const numberParam = Number(routeParam);
    return Number.isInteger(numberParam) ? numberParam : 'latest';
  }
});

const btnColor = util.CONFIG.MAIN_BAR_COLOR;

onMounted(() => {
  const getGdprDocument = api.gdpr.getGdprDocument(documentId.value).then((doc) => {
    if (doc !== undefined) {
      gdpr.value = doc;
    } else {
      notFound.value = true;
    }
  });

  api.allCatching([getGdprDocument]);
});

function printPage() {
  window.print();
}
</script>

<template>
  <v-container fluid v-if="gdpr === undefined && !notFound">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-0 pa-6">
          <div class="text-center">
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <v-container v-else fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="8">
        <v-card class="elevation-0 pl-6 pr-6 d-print-none">
          <v-card-text>
            <v-btn block tile :color="btnColor" dark @click="printPage()"
              ><v-icon dark left>mdi-printer</v-icon> DRUCKEN</v-btn
            >
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="8">
        <v-card class="elevation-0 pa-6 pt-0" v-if="gdpr">
          <v-card-title>Datenschutzbestimmungen Version {{ gdpr.id }}</v-card-title>
          <v-card-subtitle
            >Gültig ab {{ new Date(Date.parse(gdpr.validDate)).toLocaleString() }}. Veröffentlicht
            am {{ new Date(Date.parse(gdpr.creationDate)).toLocaleString() }}.</v-card-subtitle
          >
          <v-card-text>
            <GdprDocumentView :content="gdpr.content" />
          </v-card-text>
        </v-card>

        <v-card class="elevation-0 pa-6" v-else>
          <v-card-title>Datenschutzbestimmungen Version {{ documentId }}</v-card-title>
          <v-card-text> Diese Datenschutzbestimmungen konnten nicht gefunden werden. </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
