<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div>
    <v-snackbar
      v-model="snackbar.show"
      :color="snackbar.failure ? 'error' : 'success'"
      top
      multi-line
      vertical
    >
      <div>
        {{ snackbar.message }}
      </div>
    </v-snackbar>
    <v-overlay :value="overlay.show">
      <v-card>
        <v-card-title
          >{{ overlayTitle(overlay) }} zur Gruppe "{{ overlay.group.name }}"
          hinzufügen</v-card-title
        >
        <v-card-text>
          <v-autocomplete
            v-model="overlay.toAdd"
            :items="overlay.canAdd"
            outlined
            dense
            chips
            small-chips
            multiple
            item-text="value"
            item-value="id"
            :prepend-icon="overlayIcon(overlay)"
            :label="overlayTitle(overlay)"
            :disabled="overlay.loading"
          >
          </v-autocomplete>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="overlay.show = false" :disabled="overlay.loading">Abbrechen</v-btn>
          <v-spacer />
          <v-btn
            :disabled="overlay.loading || overlay.toAdd.length === 0"
            :loading="overlay.loading"
            @click="commitOverlay"
          >
            Hinzufügen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-overlay>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :loading="loading"
      single-expand
      show-expand
      @item-expanded="itemsExpanded"
    >
      <template v-slot:item.id="row">
        <v-btn
          v-if="isAdminOrOwnerOrMemberOfGroup(row.item, applicationStore.session.user)"
          icon
          class="mx-2"
          small
          link
          :to="'groups/' + row.item.id"
        >
          <v-icon>mdi-account-group</v-icon>
        </v-btn>
      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length" class="pa-4">
          <group-list-entry
            :item="item"
            :viewingUser="applicationStore.session.user"
            :addMemberToGroup="addMemberToGroup"
            :removeUserFromGroup="removeUserFromGroup"
            :addAdminToGroup="addAdminToGroup"
            :removeAdminFromGroup="removeAdminFromGroup"
            :addRelativeGroupToGroup="addRelativeGroupToGroup"
            :removeRelativeGroupFromGroup="removeRelativeGroupFromGroup"
            :hasOwnerRights="hasOwnerRights"
            :members="
              showImplicit ? getSortedImplicitUsers(item) : getSortedUsersById(item.userMembers)
            "
            :memberLoading="memberLoading"
            :owners="showImplicit ? getSortedImplicitOwners(item) : getSortedUsersById(item.owners)"
            :ownerLoading="ownerLoading"
            :supergroups="getSortedGroupsById(item.parentGroups.concat(item.dnParent))"
            :subgroups="
              showImplicit ? getSortedImplicitGroups(item) : getSortedGroupsById(item.groupMembers)
            "
            :ownerGroups="getSortedGroupsById(item.ownerGroups)"
            :ownedGroups="getSortedGroupsById(item.ownedGroups)"
            :groupLoading="groupLoading"
          />
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import Api from '../LegacyApi';
import Util from '../LegacyUtil';
import { useApplicationStore } from '../stores/application';

export default {
  name: 'GroupList',

  props: {
    groups: {
      type: Map,
      required: true,
    },
    groupSelection: {
      type: Array,
      require: false,
    },
    users: {
      type: Map,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    showImplicit: {
      type: Boolean,
      required: true,
    },
    search: {
      type: String,
      required: true,
    },
    showDetailsLink: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    items: function () {
      if (this.groupSelection) {
        return this.groupSelection.map((groupId) => this.groups.get(groupId));
      } else {
        return Array.from(this.groups.values());
      }
    },
  },
  methods: {
    arrayRemove: function (arr, value) {
      return arr.filter((ele) => ele != value);
    },
    overlayTitle: function (overlay, plural = true) {
      if (overlay.isForWhat == 'supergroup') {
        return plural ? 'Übergruppe(n)' : 'Übergruppe';
      } else if (overlay.isForWhat == 'subgroup') {
        return plural ? 'Untergruppe(n)' : 'Untergruppe';
      } else if (overlay.isForWhat == 'owner') {
        return plural ? 'Adminstrator(en)' : 'Adminstrator';
      } else if (overlay.isForWhat == 'ownergroup') {
        return plural ? 'Adminstratorgruppe(n)' : 'Adminstratorgruppe';
      } else if (overlay.isForWhat == 'ownedgroup') {
        return plural ? 'Administrierte Gruppe(n)' : 'Administrierte Gruppe';
      } else {
        return plural ? 'Mitglied(er)' : 'Mitglied';
      }
    },
    overlayIcon: function (overlay) {
      if (overlay.isForWhat == 'supergroup' || overlay.isForWhat == 'subgroup') {
        return 'mdi-account-multiple';
      } else if (overlay.isForWhat == 'owner') {
        return 'mdi-account-supervisor';
      } else if (overlay.isForWhat == 'ownergroup') {
        return 'mdi-account-supervisor-circle';
      } else if (overlay.isForWhat == 'ownedgroup') {
        return 'mdi-account-multiple-outlined';
      } else {
        return 'mdi-account';
      }
    },
    isAdminOrOwnerOrMemberOfGroup: function (group, user) {
      return (
        user.permissions.includes('ADMIN') ||
        this.hasOwnerRights(group, user) ||
        group.userMembers.includes(user.id)
      );
    },
    hasOwnerRights: function (group, user) {
      if (group.owners.includes(user.id)) {
        return true;
      }
      if (group.dnParent) {
        return this.hasOwnerRights(this.users.get(group.dnParent), user);
      }
      return user.groups.filter((value) => group.ownerGroups.includes(value)).length > 0;
    },
    getSortedUsersById: function (ids) {
      return Util.getSortedUsersById(ids, this.users);
    },
    getImplicitUserIds: function (group) {
      return Util.getImplicitUserIds(group, this.groups);
    },
    getSortedImplicitUsers: function (group) {
      let ids = this.getImplicitUserIds(group);
      return this.getSortedUsersById(ids);
    },
    getImplicitOwnerIds: function (group) {
      return Util.getImplicitOwnerIds(group, this.groups);
    },
    getSortedImplicitOwners: function (group) {
      let ids = this.getImplicitOwnerIds(group);
      return this.getSortedUsersById(ids);
    },
    getSortedGroupsById: function (ids) {
      return Util.getSortedGroupsById(ids, this.groups);
    },
    getImplicitGroupIds: function (group) {
      let ids = group.groupMembers;
      group.groupMembers
        .map((groupId) => this.groups.get(groupId))
        .forEach((group) => (ids = ids.concat(this.getImplicitGroupIds(group))));
      return [...new Set(ids)];
    },
    getSortedImplicitGroups: function (group) {
      let ids = this.getImplicitGroupIds(group);
      return this.getSortedGroupsById(ids);
    },
    removeUserFromGroup: function (group, user) {
      this.$set(this.memberLoading, user, true);
      this.$set(this.ownerLoading, user, true);

      Api.defaultHandler(
        this,
        Api.removeUsersFromGroup(group, user).then((data) => {
          this.groups.set(data.id, data);
          this._computedWatchers.items.run();
          this.$forceUpdate();
          this.snackbar.message = 'Mitglied erfolgreich gelöscht';
          this.snackbar.failure = false;
          this.snackbar.show = true;
          this.$set(this.memberLoading, user, false);
          this.$set(this.ownerLoading, user, false);
        })
      );
    },
    removeAdminFromGroup: function (group, user) {
      this.$set(this.ownerLoading, user, true);

      Api.defaultHandler(
        this,
        Api.removeUsersFromGroup(group, user, true).then((data) => {
          this.groups.set(data.id, data);
          this._computedWatchers.items.run();
          this.$forceUpdate();
          this.snackbar.message = 'Administrator erfolgreich gelöscht';
          this.snackbar.failure = false;
          this.snackbar.show = true;
          this.$set(this.ownerLoading, user, false);
        })
      );
    },
    addMemberToGroup: function (group) {
      this.overlay.group = group;
      this.overlay.canAdd = this.getSortedUsersById(
        Array.from(this.users.keys()).filter((x) => !group.userMembers.includes(x))
      ).map((x) => {
        return {
          id: x.id,
          value: Util.userUniqueIdentifier(x),
        };
      });
      this.overlay.toAdd = [];
      this.overlay.loading = false;
      this.overlay.isForWhat = 'member';
      this.overlay.show = true;
    },
    addAdminToGroup: function (group) {
      this.overlay.group = group;
      this.overlay.canAdd = this.getSortedUsersById(
        Array.from(this.users.keys()).filter((x) => !group.owners.includes(x))
      ).map((x) => {
        return {
          id: x.id,
          value: Util.userUniqueIdentifier(x),
        };
      });
      this.overlay.toAdd = [];
      this.overlay.loading = false;
      this.overlay.isForWhat = 'owner';
      this.overlay.show = true;
    },
    addRelativeGroupToGroup: function (group, kind) {
      this.overlay.group = group;
      var filtered_groups = [];
      if (kind == 'supergroup') {
        // supergroups
        filtered_groups = group.parentGroups.concat(group.dnParent).concat(group.id);
      } else if ((kind == kind) == 'subgroup') {
        // subgroups
        filtered_groups = group.groupMembers.concat(group.id);
      } else if (kind == 'ownergroup') {
        // ownergroups
        filtered_groups = group.ownerGroups.concat(group.id);
      } else if (kind == 'ownedgroup') {
        // ownedgroups
        filtered_groups = group.ownedGroups.concat(group.id);
      }
      // TODO: prevent circled group hierarchy
      this.overlay.canAdd = this.getSortedGroupsById(
        Array.from(this.groups.keys()).filter((x) => !filtered_groups.includes(x))
      ).map((x) => {
        return {
          id: x.id,
          value: x.name,
        };
      });
      this.overlay.toAdd = [];
      this.overlay.loading = false;
      this.overlay.isForWhat = kind;
      this.overlay.show = true;
    },
    removeRelativeGroupFromGroup: function (group, relativeGroupId, kind) {
      this.$set(this.groupLoading, relativeGroupId, true);

      Api.defaultHandler(
        this,
        Api.removeRelativeGroupFromGroup(group, relativeGroupId, kind).then((data) => {
          this.groups.set(data.id, data);
          // modify the *other* affected group
          var relativeGroup = this.groups.get(relativeGroupId);
          if (kind == 'supergroup') {
            // supergroups
            relativeGroup.groupMembers = this.arrayRemove(relativeGroup.groupMembers, group);
          } else if ((kind == kind) == 'subgroup') {
            // subgroups
            relativeGroup.parentGroups = this.arrayRemove(relativeGroup.parentGroups, group);
          } else if (kind == 'ownergroup') {
            // ownergroups
            relativeGroup.ownedGroup = this.arrayRemove(relativeGroup.ownedGroups, group);
          } else if (kind == 'ownedgroup') {
            // ownedgroups
            relativeGroup.ownerGroups = this.arrayRemove(relativeGroup.ownerGroups, group);
          }
          this.groups.set(relativeGroup.id, relativeGroup);
          this._computedWatchers.items.run();
          this.$forceUpdate();
          this.snackbar.message =
            this.overlayTitle({ isForWhat: kind }, false) + ' erfolgreich gelöscht';
          this.snackbar.failure = false;
          this.snackbar.show = true;
          this.refreshLoadingState(data);
        })
      );
    },
    commitOverlay: function () {
      this.overlay.loading = true;
      if (
        this.overlay.isForWhat == 'supergroup' ||
        this.overlay.isForWhat == 'subgroup' ||
        this.overlay.isForWhat == 'ownergroup' ||
        this.overlay.isForWhat == 'ownedgroup'
      ) {
        Api.addRelativeGroupToGroup(
          this.overlay.group.id,
          this.overlay.toAdd,
          this.overlay.isForWhat
        )
          .then((data) => {
            this.groups.set(data.id, data);
            // modify the *other* affected groups
            this.overlay.toAdd.forEach((relativeGroupId) => {
              var relativeGroup = this.groups.get(relativeGroupId);
              if (this.overlay.isForWhat == 'supergroup') {
                relativeGroup.groupMembers.push(this.overlay.group.id);
              } else if (this.overlay.isForWhat == 'subgroup') {
                relativeGroup.parentGroups.push(this.overlay.group.id);
              } else if (this.overlay.isForWhat == 'ownergroup') {
                relativeGroup.ownedGroups.push(this.overlay.group.id);
              } else if (this.overlay.isForWhat == 'ownedgroup') {
                relativeGroup.ownerGroups.push(this.overlay.group.id);
              }
            });
            this._computedWatchers.items.run();
            this.$forceUpdate();
            this.overlay.show = false;
            this.snackbar.message = this.overlayTitle(this.overlay) + ' erfolgreich hinzugefügt';
            this.snackbar.failure = false;
            this.snackbar.show = true;
            this.refreshLoadingState(data);
          })
          .catch((reason) => {
            switch (reason) {
              case 'error.network': {
                this.$emit('networkError');
                break;
              }
              case 'error.unexpected': {
                this.$emit('unexpectedError');
                break;
              }
              case 'error.conflict': {
                this.snackbar.message = 'Konflikt aufgetreten';
                this.snackbar.failure = true;
                this.snackbar.show = true;
                this.overlay.loading = false;
                break;
              }
              case 'error.unauthorized': {
                this.$router.push('/logout').catch((error) => {
                  console.log(error);
                });
                break;
              }
              default: {
                console.log(reason);
              }
            }
          });
      } else {
        Api.defaultHandler(
          this,
          Api.addUsersToGroup(
            this.overlay.group.id,
            this.overlay.toAdd,
            this.overlay.isForWhat == 'owner'
          ).then((data) => {
            this.groups.set(data.id, data);
            this._computedWatchers.items.run();
            this.$forceUpdate();
            this.overlay.show = false;
            this.snackbar.message = this.overlayTitle(this.overlay) + ' erfolgreich hinzugefügt';
            this.snackbar.failure = false;
            this.snackbar.show = true;
            this.refreshLoadingState(data);
          })
        );
      }
    },
    refreshLoadingState: function (group) {
      group.userMembers.forEach((member) => {
        this.$set(this.memberLoading, member, false);
      });
      group.owners.forEach((owner) => {
        this.$set(this.ownerLoading, owner, false);
      });
      group.parentGroups.forEach((parentGroup) => {
        this.$set(this.groupLoading, parentGroup, false);
      });
      group.groupMembers.forEach((groupMember) => {
        this.$set(this.groupLoading, groupMember, false);
      });
    },
    itemsExpanded: function (value) {
      this.refreshLoadingState(value.item);
    },
  },
  mounted() {},
  data: function () {
    return {
      snackbar: {
        show: false,
        failure: false,
        message: '',
      },
      overlay: {
        show: false,
        loading: false,
        group: {
          id: '',
          name: '',
        },
        canAdd: [],
        toAdd: [],
        isForWhat: 'member',
      },
      headers: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Beschreibung',
          value: 'description',
        },
      ].concat(
        this.showDetailsLink
          ? [
              {
                text: 'Details',
                value: 'id',
                sortable: false,
                filterable: false,
                groupable: false,
              },
            ]
          : []
      ),
      memberLoading: [],
      ownerLoading: [],
      groupLoading: [],
      applicationStore: useApplicationStore(),
    };
  },
};
</script>
