<template>
  <table>
    <tr>
      <td>ID</td>
      <td></td>
      <td>{{ item.id }}</td>
    </tr>
    <tr>
      <td>Gruppenmitglied</td>
      <td>{{ members.length }}</td>
      <td>
        <v-chip
          class="ma-1"
          outlined
          close
          close-icon="mdi-plus-circle"
          @click:close="addMemberToGroup(item)"
          v-if="isOwnerOrAdmin(viewingUser, item)"
        >
          Hinzufügen
        </v-chip>
        <v-chip
          v-for="member in members"
          :key="member.id"
          class="ma-1"
          :outlined="item.userMembers.includes(member.id)"
          :close="
            !memberLoading[member.id] &&
            isOwnerOrAdmin(viewingUser, item) &&
            item.userMembers.includes(member.id)
          "
          close-icon="mdi-delete"
          @click:close="removeUserFromGroup(item.id, member.id)"
        >
          <v-progress-circular
            indeterminate
            size="20"
            width="3"
            v-if="memberLoading[member.id]"
          ></v-progress-circular>
          <div v-else>
            {{ userIdentifier(member) }}
          </div>
        </v-chip>
      </td>
    </tr>
    <tr>
      <td>Gruppenadministrator</td>
      <td>{{ owners.length }}</td>
      <td>
        <v-chip
          class="ma-1"
          outlined
          close
          close-icon="mdi-plus-circle"
          @click:close="addAdminToGroup(item)"
          v-if="
            viewingUser.permissions.includes('ADMIN') ||
            (item.dnParent && this.hasOwnerRights(item.dnParent, viewingUser))
          "
        >
          Hinzufügen
        </v-chip>
        <v-chip
          v-for="member in owners"
          :key="member.id"
          class="ma-1"
          :outlined="item.owners.includes(member.id)"
          :close="
            !ownerLoading[member.id] &&
            (viewingUser.permissions.includes('ADMIN') ||
              (item.dnParent && this.hasOwnerRights(item.dnParent, viewingUser))) &&
            item.owners.includes(member.id)
          "
          close-icon="mdi-delete"
          @click:close="removeAdminFromGroup(item.id, member.id)"
        >
          <v-progress-circular
            indeterminate
            size="20"
            width="3"
            v-if="ownerLoading[member.id]"
          ></v-progress-circular>
          <div v-else>
            {{ userIdentifier(member) }}
          </div>
        </v-chip>
      </td>
    </tr>
    <tr>
      <td>Übergruppe</td>
      <td>{{ supergroups.length }}</td>
      <td>
        <v-chip
          class="ma-1"
          outlined
          close
          close-icon="mdi-plus-circle"
          @click:close="addRelativeGroupToGroup(item, 'supergroup')"
          v-if="viewingUser.permissions.includes('ADMIN')"
        >
          Hinzufügen
        </v-chip>
        <v-chip
          v-for="group in supergroups"
          :key="group.id"
          class="ma-1"
          outlined
          :close="
            !groupLoading[group.id] &&
            viewingUser.permissions.includes('ADMIN') &&
            item.parentGroups.includes(group.id)
          "
          close-icon="mdi-delete"
          @click:close="removeRelativeGroupFromGroup(item.id, group.id, 'supergroup')"
        >
          <v-progress-circular
            indeterminate
            size="20"
            width="3"
            v-if="groupLoading[group.id]"
          ></v-progress-circular>
          <div v-else>
            {{ group.name }}
          </div>
        </v-chip>
      </td>
    </tr>
    <tr>
      <td>Untergruppe</td>
      <td>{{ subgroups.length }}</td>
      <td>
        <v-chip
          class="ma-1"
          outlined
          close
          close-icon="mdi-plus-circle"
          @click:close="addRelativeGroupToGroup(item, 'subgroup')"
          v-if="viewingUser.permissions.includes('ADMIN')"
        >
          Hinzufügen
        </v-chip>
        <v-chip
          v-for="group in subgroups"
          :key="group.id"
          class="ma-1"
          :outlined="item.groupMembers.includes(group.id)"
          :close="
            !groupLoading[group.id] &&
            viewingUser.permissions.includes('ADMIN') &&
            item.groupMembers.includes(group.id)
          "
          close-icon="mdi-delete"
          @click:close="removeRelativeGroupFromGroup(item.id, group.id, 'subgroup')"
        >
          <v-progress-circular
            indeterminate
            size="20"
            width="3"
            v-if="groupLoading[group.id]"
          ></v-progress-circular>
          <div v-else>
            {{ group.name }}
          </div>
        </v-chip>
      </td>
    </tr>
    <tr>
      <td>Gruppenadministratoren-Gruppe</td>
      <td>{{ ownerGroups.length }}</td>
      <td>
        <v-chip
          class="ma-1"
          outlined
          close
          close-icon="mdi-plus-circle"
          @click:close="addRelativeGroupToGroup(item, 'ownergroup')"
          v-if="viewingUser.permissions.includes('ADMIN')"
        >
          Hinzufügen
        </v-chip>
        <v-chip
          v-for="group in ownerGroups"
          :key="group.id"
          class="ma-1"
          outlined
          :close="
            !groupLoading[group.id] &&
            viewingUser.permissions.includes('ADMIN') &&
            item.ownerGroups.includes(group.id)
          "
          close-icon="mdi-delete"
          @click:close="removeRelativeGroupFromGroup(item.id, group.id, 'ownergroup')"
        >
          <v-progress-circular
            indeterminate
            size="20"
            width="3"
            v-if="groupLoading[group.id]"
          ></v-progress-circular>
          <div v-else>
            {{ group.name }}
          </div>
        </v-chip>
      </td>
    </tr>
    <tr>
      <td>Administrierte Gruppe</td>
      <td>{{ ownedGroups.length }}</td>
      <td>
        <v-chip
          class="ma-1"
          outlined
          close
          close-icon="mdi-plus-circle"
          @click:close="addRelativeGroupToGroup(item, 'ownedgroup')"
          v-if="viewingUser.permissions.includes('ADMIN')"
        >
          Hinzufügen
        </v-chip>
        <v-chip
          v-for="group in ownedGroups"
          :key="group.id"
          class="ma-1"
          :outlined="item.ownedGroups.includes(group.id)"
          :close="
            !groupLoading[group.id] &&
            viewingUser.permissions.includes('ADMIN') &&
            item.ownedGroups.includes(group.id)
          "
          close-icon="mdi-delete"
          @click:close="removeRelativeGroupFromGroup(item.id, group.id, 'ownedgroup')"
        >
          <v-progress-circular
            indeterminate
            size="20"
            width="3"
            v-if="groupLoading[group.id]"
          ></v-progress-circular>
          <div v-else>
            {{ group.name }}
          </div>
        </v-chip>
      </td>
    </tr>
  </table>
</template>

<script>
import Util from '../LegacyUtil';

export default {
  name: 'GroupListEntry',

  props: {
    viewingUser: {
      type: Object,
      required: true,
    },
    item: {
      type: Object,
      required: true,
    },
    members: {
      type: Array,
      required: true,
    },
    owners: {
      type: Array,
      required: true,
    },
    memberLoading: {
      type: Array,
      required: true,
    },
    ownerLoading: {
      type: Array,
      required: true,
    },
    groupLoading: {
      type: Array,
      required: true,
    },
    supergroups: {
      type: Array,
      required: true,
    },
    subgroups: {
      type: Array,
      required: true,
    },
    ownerGroups: {
      type: Array,
      required: true,
    },
    ownedGroups: {
      type: Array,
      required: true,
    },
    addMemberToGroup: {
      type: Function,
      required: true,
    },
    removeUserFromGroup: {
      type: Function,
      required: true,
    },
    addAdminToGroup: {
      type: Function,
      required: true,
    },
    removeAdminFromGroup: {
      type: Function,
      required: true,
    },
    addRelativeGroupToGroup: {
      type: Function,
      required: true,
    },
    removeRelativeGroupFromGroup: {
      type: Function,
      required: true,
    },
    hasOwnerRights: {
      type: Function,
      required: true,
    },
  },

  data() {
    return {};
  },

  methods: {
    isOwnerOrAdmin(user, group) {
      return user.permissions.includes('ADMIN') || this.hasOwnerRights(group, user);
    },
    userIdentifier(user) {
      return Util.userIdentifier(user, this.viewingUser);
    },
  },
};
</script>
