<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->
<script setup lang="ts">
import { computed } from 'vue';
import { useApplicationStore } from '../stores/application';
import { userIdentifier } from '../util';

const applicationStore = useApplicationStore();

const props = defineProps<{
  invitations: any[];
  loading: boolean;
  search: string;
  showPermissions: boolean;
}>();

const items = computed(() =>
  props.invitations.map((invitation) => {
    return {
      id: invitation.id,
      invitee: {
        name: invitation.invitee.firstname + ' ' + invitation.invitee.surname,
        mail: invitation.invitee.mail,
        permissions: invitation.invitee.permissions,
      },
      validUntil: new Date(invitation.validUntil).toLocaleString(),
      inviter: {
        name: userIdentifier(invitation.inviter, applicationStore.session?.user),
      },
    };
  })
);

const headers = computed(() => {
  const headers = [
    {
      text: 'Eingeladener',
      value: 'invitee.name',
    },
    {
      text: 'Mailadresse',
      value: 'invitee.mail',
    },
    {
      text: 'Gültigkeitsdauer',
      value: 'validUntil',
    },
    {
      text: 'Einladender',
      value: 'inviter.name',
    },
  ];
  if (props.showPermissions) {
    headers.push({
      text: 'Rechte',
      value: 'invitee.permissions',
    });
  }
  return headers;
});
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="items" :search="search" :loading="loading">
      <template v-slot:item.id="row">
        <v-btn icon class="mx-2" small link :to="'groups/' + row.item.id">
          <v-icon>mdi-account-group</v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
