<script setup lang="ts">
import * as api from '../api';
import { onMounted, ref } from 'vue';
import { useApplicationStore } from '../stores/application';

const gitVersion = import.meta.env.VUE_APP_GIT_HASH;
const applicationStore = useApplicationStore();
const configLoading = ref(true);

onMounted(() => {
  const getConfig = api.config.getConfig().then((result) => {
    applicationStore.setConfig(result);
  });

  api.allCatching([getConfig]).finally(() => (configLoading.value = false));
});
</script>

<template>
  <v-app>
    <v-main>
      <div style="width: 80%; margin: 0 auto; margin-top: 1em">
        <error-alert></error-alert>
      </div>
      <router-view></router-view>
    </v-main>

    <v-footer app class="d-print-none">
      <div>
        Frontend Version: {{ gitVersion }}, Backend Version
        <v-progress-circular
          v-if="configLoading && applicationStore.config == null"
          indeterminate
          size="20"
        ></v-progress-circular>
        <span v-else-if="applicationStore.config != null">{{
          applicationStore.config.version
        }}</span>
        <span v-else>nicht ermittelbar</span>
      </div>
      <v-spacer></v-spacer>
      <div>
        &copy; 2020 by
        <a
          href="https://gitlab.com/ingenieure-ohne-grenzen/feather/-/blob/main/AUTHORS.md"
          class="deep-orange--text"
          target="_blank"
          >Feather development team</a
        >, Licensed under
        <a
          href="https://gitlab.com/ingenieure-ohne-grenzen/feather/-/blob/main/LICENSE"
          class="deep-orange--text"
          target="_blank"
          >Apache 2.0</a
        >
      </div>
    </v-footer>
  </v-app>
</template>
